<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sign in</title>
	<link rel="stylesheet" href="/css/log-sign.css" />
	<script src="jquery-3.5.1.min.js"></script>
</head>

<body>
	<div class="container">
		<div class="center">
			<div class="signBox">
				<p id="signText" href="/testing"><b>Log in to NavMapps</b></p>
				<p id="formSign">Enter your credentials to log in</p>
				<hr>
				<ul onclick="reset()">
					<li>
						<div id="liUsername"><b>Username</b><br><input type="text" placeholder="Enter your username" id="username"
								onfocus="reset()">
						</div>
					</li>
					<li>
						<div id="liPassword"><b>Password</b><br><input type="password" placeholder="Fill in your password"
								id="password" onfocus="reset()"></div>
					</li>
				</ul>
			</div>
			<button class="button" style="background-color: red;" onclick="window.location.href='./signUp.html'">Sign
				Up</a></button>
			<button class="button" style="float:right;" id="login"> Log In </button>
		</div>
	</div>
</body>

<script>
	// function logIn() {
	$("#login").click(() => {
		reset();
		$.ajax({
			url: '/login',
			// data: JSON.stringify(data),
			data: JSON.stringify({
				username: $('#username').val(),
				password: $('#password').val()
			}),
			cache: false,
			contentType: 'application/json',
			processData: false,
			method: 'POST',
			success: function (data, status, request) {
				localStorage.setItem('x-auth-token', request.getResponseHeader('x-auth-token'));
				$.ajax({
					url: '/intro',
					cache: false,
					contentType: "application/json",
					processData: false,
					method: 'GET',
					headers: { 'x-auth-token': localStorage.getItem('x-auth-token') },
					success: function (data, status, request) {
						location.href = ('intro')
					}
				});
			}
		});
	});
	// }
	// $(" #login").click(() => {
	// reset();
	// data = {
	// // username: $("#username").val(),
	// // password: $("#password").val(),
	// hellothere: "FUCK"
	// }
	// $.ajax({
	// url: "login",
	// type: "POST",
	// processData: true,
	// data: JSON.stringify(data),
	// cache: false,
	// dataType: "json",
	// success: function (data) {
	// console.log(this.data);
	// localStorage.setItem('x-auth-token', data.headers['x-auth-token']);
	// },
	// error: function (error) {
	// console.log(this.data);
	// wrongInput('Wrong username or password', 'liPassword');
	// }
	// });
	// });

	// xhr.setRequestHeader('Content-Type', 'application/JSON');
	// if (username == "") {
	// wrongInput('Please enter a username', 'liUsername');
	// } else if (password == "") {
	// wrongInput('Please enter a password', 'liPassword');
	// } else {
	// var data = JSON.stringify({ "username": username, "password": password });
	// xhr.send(data);
	// }

	function wrongInput(input, element) {
		var para = document.createElement("p");
		var node = document.createTextNode(input);
		para.appendChild(node);
		para.setAttribute("class", "wrongText")
		document.getElementById(element).appendChild(para)
	}

	function reset() {
		var list = document.getElementsByTagName("INPUT");

		for (i = 0; i < list.length; i++) list[i].classList.remove("wrongInput"); var
			invalidTexts = document.getElementsByClassName('wrongText'); while (invalidTexts[0])
			invalidTexts[0].parentNode.removeChild(invalidTexts[0]);
	} </script>

</html>

<!-- List of tasks
			
			->Css mazema
	
			->send data to server
	
			->receive conf that username is ok
	
			->wrongText reset in each li element and not the ul
	
			?->link for terms
	
	
	-->

</html>