body {
    margin: 0;
  }
  
ul {
list-style-type: none;
margin: 0;
padding: 0;
width: 15%;
background-color: #f1f1f1;
position: fixed;
height: 100%;
overflow: auto;
}

li a {
display: block;
color: #000;
padding: 8px 16px;
text-decoration: none;
}

li a.active {
background-color: #4CAF50;
color: white;
}

li a:hover:not(.active) {
background-color: #555;
color: white;
}

.clearfix{
    clear:both
}

#mapDiv{
    margin-top: 20px;
    width:100%;
    height:auto;
    text-align:center;
}
  
#mapid{
    width:800px;
    height:400px;
    margin:auto;
}
