body{   
    margin:0 auto; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px solid #bbb;
  }
  
li a:hover {
    background-color: #111;
}

.active{
    background-color: #111;
}

#pieDiv{
  width:50%;
  float:left;
}

#hourTable{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  margin-top:5px;
  width: 100%;
}

#hourTable td, #hourTable th {
  border: 1px solid #ddd;
  padding: 4px;
}

#hourTable tr:nth-child(even){background-color: #f2f2f2;}

#hourTable th {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

#clearfix{
  clear:both
}

#mapDiv{
  width:100%;
  height:auto;
  text-align:center;
}

#mapid{
  width:800px;
  height:300px;
  margin:auto;
}