body, html { min-height: 100%; }

body {
    font-family: 'Nunito', 'sans-serif';
    font-size: 18px;
    margin: 0;
    
    color: white;
    /* background: url(https://www.nationalgeographic.com/content/dam/ngdotcom/rights-exempt/maps/world-classic-2018-banner-clip-72.adapt.1900.1.jpg) center no-repeat; */
    background-size: cover;
    background-color: #444;
}


.container{
    height:80%;
    width:80;
}

.center{
    position: fixed;
    width:50%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
}

#welcomeText {
    font-size: 38px;
    color: green;
    text-align: center;
}

.buttons{
    margin-left: 15%;
    margin-right: 15%;
}

.button {
    background-color: green; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor:pointer;
}

.button:hover {
    background-color: #003300;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 1em;
}

.signBox{
    border: 1px solid lightgray;
    background-color: white;
    color:black;
    margin-bottom: 1em; 
    margin-top: 1em;
}

input {
    padding: 1em;
    margin-bottom: 1em;
    padding-right: 30%;
    border: none;
    background: #f1f1f1;
    display: inline-block;
}

.wrongInput {
    padding: 1em;
    margin-bottom: 0;
    padding-right: 30%;
    border: solid;
    border-color: red;
    color:red;
    background: #f1f1f1;
    display: inline-block;
}

.wrongText{
    margin:0px;
    color:red;
}

#signText{
    font-size: 25px;
    padding-top:5px;
}

#formSign{
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 5px;
  }
