.button {
    background-color: green; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor:pointer;
}

.button:hover {
    background-color: #003300;
}

.leaflet-container.crosshair-cursor-enabled {
    cursor:crosshair;
}

#otherDiv{
    margin-top:47px;
    float:left;
    max-width: 30%;
}

#mapDiv{
    margin-top:47px;
    float:right;
    max-width: 70%;
}

#mapid { 
    width: 700px;
    height:600px;
    z-index: 3;
}

body{   
    margin:0 auto; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px solid #bbb;
  }
  
  /* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.active{
    background-color: #111;
}